<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>User Info</title>
</head>
<body>
<div align="center">
    <h3>User Info</h3>
    <table border="1" cellpadding="8">
        <tr>
            <td>ID:</td>
            <td th:text="${user.id}">ID</td>
        </tr>
        <tr>
            <td>First name:</td>
            <td th:text="${user.firstName}">First name</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${user.lastName}">Last name</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td th:text="${user.age}">Age</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td th:text="${user.email}">E-mail</td>
        </tr>
        <tr>
            <td>Roles:</td>
            <td th:text="${#strings.setJoin(user.roles, ', ')}">Roles</td>
        </tr>
    </table>
    <br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>