<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>User Edit</title>
</head>
<body>
<div align="center">
    <h3>User Edit</h3>
    <form th:method="post" th:action="@{/admin/save}" th:object="${user}">
        <table border="1" cellpadding="8">
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <td>First name:</td>
                <td><input type="text" th:field="*{firstName}" required/></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="text" th:field="*{lastName}" required/></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" th:field="*{age}" required/></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><input type="text" th:field="*{email}" required/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" required/></td>
            </tr>
        </table>
        <br>
        <p>Roles:</p>
        <label>
            <input type="checkbox" name="roleIds"
                   th:each="role : ${roles}"
                   th:text="${role.name}"
                   th:value="${role.id}"/>
        </label>
        <br><br>
        <button type="submit">Save</button>
    </form>
    <br><br><br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>